<div>
  {{input type="text" placeholder="Title" value=title class="name-input"}}
  {{input type="text" placeholder="Author" value=author class="name-input"}}
  {{input type="text" placeholder="ISBN" value=isbn class="name-input"}}
  <button {{action 'addBook'}} class="submit">Submit</button>
</div>
