<hr class="btn-primary">
<h3 class="header-font">Add a Book</h3>
<div>
  {{input type="text" placeholder="Title" value=title class="name-input"}}<br>
  {{input type="text" placeholder="Author" value=author class="name-input"}}<br>
  {{input type="text" placeholder="ISBN" value=isbn class="name-input"}}
  <button {{action 'addBook'}} class="btn btn-default">Submit</button>
</div>
