
<div class="container">{{#link-to 'lists.new'}}Add a new list{{/link-to}}</div>

<ul>
  {{#each list in model}}
    <li>{{#link-to 'list' list.id}}{{list.name}}{{/link-to}}</li>

  {{/each}}
</ul>

{{outlet}}
