


<h3 class="header-font">Lists</h3>

<ul>
  {{#each list in model}}

    <li> {{#link-to 'list' list.id}}{{list.name}}{{/link-to}}</li>

  {{/each}}
</ul>

<div class="container header-font">{{#link-to 'lists.new'}}Add a New List{{/link-to}}</div>
<br>
{{outlet}}
