 <h2>Book</h2>
{{#each book in model}}
  {{book.book_title}} <small>by {{book.book_author}}</small><br>
  <a href='{{book.url}}'><small>Review by</small> {{book.byline}}</a><br>
  <br>
  <br><br>

{{/each}}
